@page
@model WebUi.Pages.Ship.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ship</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ship.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ship.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ship.Owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ship.Owner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ship.PassengerCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ship.PassengerCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ship.CargoCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ship.CargoCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ship.MaxSpeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ship.MaxSpeed)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Ship.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
