@page
@model WebUi.Pages.Ship.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ship</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ship.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ship.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ship.Owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ship.Owner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ship.PassengerCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ship.PassengerCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ship.CargoCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ship.CargoCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ship.MaxSpeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ship.MaxSpeed)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ship.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
